SERVER_PORT=8080
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_URL=jdbc:mysql://127.0.0.1:3306/djxt?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=123456
DB_ROOT_PASSWORD=123456
CACHE_TYPE=simple
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
CACHE_TTL_MS=300000
JWT_SECRET=ReplaceWithAtLeast32CharsSecretKeyForPartyHub
JWT_EXPIRATION_SECONDS=7200
